*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: arial, sans-serif;
}

/* ----------------------------------------------------------------------
                    UTILITIES
----------------------------------------------------------------------    */
.flex{
    display:flex;
}

.relative{
    position: relative;
}

.absolute{
    position:absolute;
}

.center-row{
    justify-content:center;
}

.start-row{
justify-content: flex-start;
}
.end-row{
    justify-content: flex-end;
}

.radius{
    border-radius: 20px;
}

.button-shape{
    border-radius:30px;
    border: none;
}


.blue-title{
    text-align: center;
    color:#0084fd;
    margin:20px;
}

.txt-center{
    text-align: center;
    padding:20px;
   
}

.txt-start{
    text-align: start;
}

.margin-1{
    margin:0 10px;
}

.margin-2{
    margin:10px 0;
}

.margin-3{
    margin: 10px 10px;
}

.lineheight{
    line-height: 30px;
    
}

.white{
    color:white;
    
}

.white-bkg{
    background-color: white;
}

.violet-bkg{
    background-color: #9593e6;
}

.violet{
color:#9593e6
}

h1{
margin:20px 0px;
}




/* ----------------------------------------------------------------------
                    HEADER
---------------------------------------------------------------------- */

.container{
    width:100%;
    background-color:#0084fd;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 20px;
    
}

.header-box{
    width:40%;
      
}

.logo{
    width: 70%;
    padding:10px;
}

.fa-bars{
    font-size: 2rem;
    padding:20px;
    color:white;
}





/* -------------------------------------------------------------------------
                    MAIN
-------------------------------------------------------------------------       */


/* SEZIONE 1 */

/* BOX 1 */
.container-blue-cards{
    width:100%;
    flex-wrap: wrap;
    align-items: center;
    flex-direction: column;
}

.blue-cards{
    width: 80%;
    margin:20px;
    background-color: #b5ddff;
    flex-direction: column;
    align-items: center;
    
}

.text-blue-box{
    width:75%;

}

.fa-apple{
    padding:10px;
}

.blue-button{
    width:80%;
    margin:20px;
    padding:5px;
    background-color: #0084fd;
    font-size: 1.2rem;
    color:white;
}

.phone{
    width: 70%;
}

/* BOX 2 */
.fa-file-code{
    font-size: 5rem;
    color:#0084fd;
    margin:30px 0px 0px;
    
}

/* BOX 3 */

.fa-compass-drafting{
    font-size: 5rem;
    color:#0084fd;
    margin:30px 0px 0px;
    
}

/* BOX 4 */

.fa-laptop-code{
    font-size 5rem;
    color:#0084fd;
    margin:30px 0px 0px;
}

/* BOX 6 */

.fa-bullhorn{
    font-size: 5rem;
    color:#0084fd;
    margin:30px 0px 0px;
}
/* SEZIONE 2 */

/* BOX 1 */
.strategic-planning{
    width: 100%;
    flex-direction: column;
    align-items: center;
    flex-wrap: wrap;
    background-color: #9593e6;

}

.planning-box{
    width: 90%;
    margin:20px;
    /* background-color: #b5ddff; */
}


.img-planning-img{
    width:80%;

}

/* BOX 2 */
.font-format{
    font-size: 1.9rem;
    margin:10px 0;
}

/* BOX 3 */
.planning-box-3{
    width:80%;
    margin:20px;
    background-color: white;
}

.img-planning-2{
    width:100%;
   
}

#develop-title{
    font-weight: bold;
    font-size: 1.5rem;
    text-align: center;
    margin:20px;
}

.fa-arrow-down{
    background-color: #9792e4;
    font-size: 1.3rem;
    padding:20px;
    border-radius: 100px;
    margin:20px;
}

/* SEIZONE 3 */


.partner-container{
    width:100%;
    /* background-color: pink; */
    margin:30px 0;
    flex-direction: column;
    align-items: center;
    flex-wrap: wrap;
}

.partner-box{
    width: 70%;
    margin:20px;
    text-align: center;
}

/* BOX 1 */


/* BOX 2 */

.testimonial{
    width:150px;
    height:150px;
   border-radius: 50%;
   object-fit: cover;
   margin:20px;

}

.text-testimonial{
    margin:10px 9px;
}

.quote-position{
    position:absolute;
    top:200px;
    left:30px;
}

.fa-quote-right{
    position:absolute;
    right:80px;
    bottom:55px;
}


.under-text{
    margin:20px;
}






/* SEZIONE 4 */

    .working-container{
        width: 100%;
        margin:20px 0;
        flex-direction: column;
        align-items: center;
        flex-wrap: wrap;
    }


    .working-box{
        width: 90%;
        margin:20px ;
        
    }

    .number{
        font-size: 3rem;
        margin:10px 10px;
        padding-top: 20px;
    }

    .button-shape-2{
        width:60%;
        border-radius: 50px;
        border: none;
        margin:15px 10px 40px 10px;
        padding:15px;
        font-size: 15px;
    }




/* SEZIONE 5 */

.aboutus-container{
    width:100%;
    /* background-color: darkkhaki; */
    flex-direction: column;
    align-items: center;
    flex-wrap: wrap;
}

.aboutus-box{
    width:80%;
    margin:10px;
    /* background-color: deeppink; */
}

.about-img{
    width:150px;
    height:150px;
    border-radius:50%;
}

.quote-position-2{
    position:absolute;
    left:150px;
    font-size: 3rem;

}

.button-shape-3{
    width:60%;
    border-radius: 50px;
    border: none;
    margin:20px 0px;
    padding:5px;
    font-size: 15px;
}

.fa-linkedin{
    margin:0 10px;
}

/* SEZIONE 6 */

.free-container{
    width:100%;
    background-color:gold;
    flex-direction: column;
    align-items: center;
    flex-wrap: wrap;
}

.free-box{
    width:70%;
    margin:20px;
    background-color:olive;
}

.about-us-title{
    margin-top:30px;
    font-size: 2.5rem;
    font-weight: bold;
}

/* -----------------------------------------------------------------------
                FOOOTER
----------------------------------------------------------------------- */

.container-footer{
    width:100%;
    background-color:greenyellow;
    flex-direction: column;
    align-items: center;
    flex-wrap: wrap;
}

    .box-footer{
        width:70%;
        margin:20px;
        background-color:darkgoldenrod;
    }